<ion-header>
  <ion-toolbar>
    <ion-title>Cadastrar Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <fieldset>
    <legend>Adicionar Novo Produto</legend>
    
    <ion-label>Nome do Produto:</ion-label>
    <ion-input [(ngModel)]="novoProduto.nome" placeholder="Digite o nome"></ion-input>

    <ion-label>Preço:</ion-label>
    <ion-input [(ngModel)]="novoProduto.preco" type="number" placeholder="Digite o preço"></ion-input>

    <ion-label>Estoque:</ion-label>
    <ion-input [(ngModel)]="novoProduto.estoque" type="number" placeholder="Digite a quantidade"></ion-input>

    <ion-button (click)="cadastrar()" color="success">Cadastrar</ion-button>
    
    <p *ngIf="mensagem" [ngClass]="mensagem.includes('sucesso') ? 'sucesso' : 'erro'">
      {{ mensagem }}
    </p>
  </fieldset>

  <ion-button (click)="voltar()" color="danger">Voltar</ion-button>
</ion-content>
