<ion-header>
  <ion-toolbar>
    <ion-title>Concluir Tarefas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <fieldset>
    <legend>Marque as tarefas como concluídas</legend>
    <div *ngFor="let tarefa of tarefas" class="tarefa-item">
      <ion-checkbox 
        [checked]="tarefa.concluida" 
        (ionChange)="concluirTarefa(tarefa.id)">
      </ion-checkbox>
      <div class="tarefa-info">
        <p><strong>{{ tarefa.titulo }}</strong></p>
        <p>Prioridade: {{ tarefa.prioridade }}</p>
        <p>Status: {{ tarefa.concluida ? 'Concluída' : 'Pendente' }}</p>
      </div>
    </div>
    <ion-button (click)="voltar()" color="danger">Voltar</ion-button>
  </fieldset>
</ion-content>
