<ion-header>
  <ion-toolbar>
    <ion-title>Listar Tarefas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <fieldset>
    <legend>Tarefas</legend>
    <div *ngFor="let tarefa of tarefas" class="resultado">
      <p><strong>Titulo:</strong> {{ tarefa.titulo }}</p>
      <p><strong>Concluída:</strong> {{ tarefa.concluida ? 'Sim' : 'Não' }}</p>
      <p><strong>Prioridade:</strong> {{ tarefa.prioridade }}</p>
      <p><strong>Data de Criação:</strong> {{ tarefa.dataCriacao }}</p>
      <hr>
    </div>
    <ion-button (click)="voltar()" color="danger">Voltar</ion-button>
  </fieldset>
</ion-content>
