<app-desafio *ngIf="isViewActive('home')"></app-desafio>
<app-listar-produtos *ngIf="isViewActive('listarprodutos')"></app-listar-produtos>
<app-listar-tarefas *ngIf="isViewActive('listar-tarefas')"></app-listar-tarefas>
<app-valor-estoque *ngIf="isViewActive('valor-estoque')"></app-valor-estoque>
<app-filtrar-tarefas *ngIf="isViewActive('filtrar-tarefas')"></app-filtrar-tarefas>
<app-contagem-prioridade *ngIf="isViewActive('contagem-prioridade')"></app-contagem-prioridade>
<app-cadastrar-produtos *ngIf="isViewActive('cadastrar-produtos')"></app-cadastrar-produtos>
<app-concluir-tarefas *ngIf="isViewActive('concluir-tarefas')"></app-concluir-tarefas>
<app-ordenar-tarefas *ngIf="isViewActive('ordenar-tarefas')"></app-ordenar-tarefas>
