<ion-header>
  <ion-toolbar>
    <ion-title>Listar Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <fieldset>
    <legend>Produtos</legend>
    <div *ngFor="let produto of produtos" class="resultado">
      <p><strong>Nome:</strong> {{ produto.nome }}</p>
      <p><strong>Preço:</strong> R$ {{ produto.preco | number: '1.2-2' }}</p>
      <p><strong>Estoque:</strong> {{ produto.estoque }}</p>
      <hr>
    </div>
    <ion-button (click)="voltar()" color="danger">Voltar</ion-button>
  </fieldset>
</ion-content>
