<ion-header>
  <ion-toolbar>
    <ion-title>Ordenar Tarefas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <fieldset>
    <legend>Tarefas Ordenadas por Prioridade</legend>
    <div *ngFor="let tarefa of tarefas" class="resultado">
      <p><strong>Titulo:</strong> {{ tarefa.titulo }}</p>
      <p><strong>Prioridade:</strong> <span [ngClass]="'prioridade-' + tarefa.prioridade">{{ tarefa.prioridade }}</span></p>
      <p><strong>Concluída:</strong> {{ tarefa.concluida ? 'Sim' : 'Não' }}</p>
      <p><strong>Data de Criação:</strong> {{ tarefa.dataCriacao | date: 'dd/MM/yyyy HH:mm' }}</p>
      <hr>
    </div>
  </fieldset>

  <ion-button (click)="voltar()" color="danger">Voltar</ion-button>
</ion-content>
