.resultado {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.resultado p {
  margin: 5px 0;
}

.prioridade-alta {
  color: red;
  font-weight: bold;
}

.prioridade-media {
  color: orange;
  font-weight: bold;
}

.prioridade-baixa {
  color: green;
  font-weight: bold;
}
