<ion-header>
  <ion-toolbar>
    <ion-title>Cadastrar Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <fieldset>
    <legend>Cadastrar Novo Produto</legend>
    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input [(ngModel)]="novoProduto.nome" placeholder="Nome do produto"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Preço</ion-label>
      <ion-input [(ngModel)]="novoProduto.preco" type="number" placeholder="Preço do produto"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Estoque</ion-label>
      <ion-input [(ngModel)]="novoProduto.estoque" type="number" placeholder="Quantidade em estoque"></ion-input>
    </ion-item>

  <ion-button (click)="cadastrar()" color="primary">Cadastrar</ion-button>
  <ion-button (click)="voltar()" color="danger">Voltar</ion-button>
  </fieldset>
</ion-content>
