ion-toolbar{
    --background: lightpink;
    --color: darkgreen;
}

ion-content{
    height: 100%;
    width: 100%;
    --background:rgb(151, 186, 151);
}

ion-button{
    --background: lightpink;
    --color: darkgreen;
    display: flex;
    max-width: 30vw;
    size: small;
    font-size: 0.8em;
    text-align: center;
}

legend{
    color:hotpink;
    font-weight: bold
}

.menus{
    display: flex;
    width: 50vw;
    list-style-type: none; 
    justify-content: center;
    margin-top: 20px;
    margin-left: 20vw;
    padding: 0;
    border-color:hotpink;
}

.funcionalidades{
    list-style-type: none; 
    padding: 0;
    gap: 15px;
    justify-content: center;
}
.resultado {
    width: 50vw;
    margin-left: 20vw;
    justify-content: center;
    color: black;
    border-color: darkgreen;
}

.resultado legend {
    color: darkgreen;
}