<ion-header>
  <ion-toolbar>
    <ion-title>Controle de Produtos e Tarefas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

    <h2>FUNCIONALIDADES</h2>

    <ul>
      <li><ion-button (click)="cadastrarProdutos()">Cadastrar Produtos</ion-button></li>
      <li><ion-button (click)="concluirTarefas()">Concluir Tarefas</ion-button></li>
      <li><ion-button (click)="ordenarTarefas()">Ordenar Tarefas</ion-button></li>
    </ul>

  <!-- MENU DE INTERAÇÃO-->

  <h2>MENU DE INTERAÇÃO</h2>
  <fieldset>
    <ul>
      <li><ion-button (click)="listarProdutos()">Listar Produtos</ion-button></li>
      <li><ion-button (click)="calcularTotalEstoque()">Valor do Estoque</ion-button></li>
      <li><ion-button (click)="listarTarefas()">Listar Tarefas</ion-button></li>
      <li><ion-button (click)="filtrarTarefas()">Filtrar Tarefas</ion-button></li>
      <li><ion-button (click)="contagemPorPrioridade()">Contagem de Tarefas por Prioridade</ion-button></li>
      <li><ion-button (click)="exitApp()">Sair</ion-button></li>
    </ul>
  </fieldset>

  <!-- Listar Produtos -->
  <fieldset *ngIf="mostrarProdutos">
    <legend>Produtos</legend>
    <div *ngFor="let produto of produtos">
      <p><strong>Nome:</strong> {{ produto.nome }}</p>
      <p><strong>Preço:</strong> R$ {{ produto.preco | number: '1.2-2' }}</p>
      <p><strong>Estoque:</strong> {{ produto.estoque }}</p>
      <hr>
    </div>

    <ion-button (click)="mostrarProdutos = false">Fechar</ion-button>
  </fieldset>

  <!--  Valor do Estoque -->
  <fieldset *ngIf="mostrarEstoque">
    <legend>Valor Total do Estoque</legend>
    <p><strong>Total:</strong> R$ {{ totalEstoque | number: '1.2-2' }}</p>
    <ion-button (click)="mostrarEstoque = false">Fechar</ion-button>
  </fieldset>

  <!-- Listar Tarefas -->
  <fieldset *ngIf="mostrarTarefas">
    <legend>Tarefas</legend>
    <div *ngFor="let tarefa of tarefas" >
      <p><strong>Titulo:</strong> {{ tarefa.titulo }}</p>
      <p><strong>Concluída:</strong> {{ tarefa.concluida ? 'Sim' : 'Não' }}</p>
      <p><strong>Prioridade:</strong> {{ tarefa.prioridade }}</p>
      <p><strong>Data de Criação:</strong> {{ tarefa.dataCriacao | date: 'dd/MM/yyyy HH:mm' }}</p>
      <hr>
    </div>
    <ion-button (click)="mostrarTarefas = false">Fechar</ion-button>
  </fieldset>

  <!-- Filtrar Tarefas -->
  <fieldset *ngIf="mostrarFiltroTarefas">
    <legend>Filtrar Tarefas</legend>
    <ion-button (click)="escolhafiltrarTarefas(true)">Tarefas Concluídas</ion-button>
    <ion-button (click)="escolhafiltrarTarefas(false)">Tarefas Pendentes</ion-button>

    <ion-button (click)="mostrarFiltroTarefas = false">Fechar</ion-button>
  </fieldset>

  <fieldset *ngIf="mostrarResultadoFiltro">
    <legend>Resultado do Filtro</legend>
    <div *ngFor="let tarefa of tarefasFiltradas" >
      <p><strong>Titulo:</strong> {{ tarefa.titulo }}</p>
      <p><strong>Concluída:</strong> {{ tarefa.concluida ? 'Sim' : 'Não' }}</p>
      <p><strong>Prioridade:</strong> {{ tarefa.prioridade }}</p>
      <p><strong>Data de Criação:</strong> {{ tarefa.dataCriacao | date: 'dd/MM/yyyy HH:mm' }}</p>
      <hr>
    </div>
    <ion-button (click)="novoFiltro()" color="warning">Novo Filtro</ion-button>
    <ion-button (click)="mostrarResultadoFiltro = false">Fechar</ion-button>
  </fieldset>

  <!--  Contagem por Prioridade -->
  <fieldset *ngIf="mostrarContagem">
    <legend>Contagem de Tarefas por Prioridade</legend>
    <p><strong>Alta Prioridade:</strong> {{ contagemTarefas.alta }}</p>
    <p><strong>Média Prioridade:</strong> {{ contagemTarefas.media }}</p>
    <p><strong>Baixa Prioridade:</strong> {{ contagemTarefas.baixa }}</p>

    <ion-button (click)="mostrarContagem = false">Fechar</ion-button>
  </fieldset>

 

</ion-content>

